header{
background: #2f6690;
height : 110px;
}

img{
width : 100px;
height : 100px;
}

#p{
float:right;
}

body {
	display:flex;
	flex-direction: column ;
	min-height: 100vh;
	margin:0px;
	padding: 0px 0px ;
}

main{
	background : linear-gradient(#FFFFFF,#bfc1d4);
	flex-grow :1;
}
footer{
	text-align:center;
	color: #e8e9ea ;
	background-color: #2f6690;
	
	padding :0px;
}

#centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	float:right;
	margin-left: 3%;
	margin-right : 0px;
	background-color : #2f6690;
	display:flex;
	flex-direction: column ;
	min-height: 100vh;
	padding: 0px 0px ;
}

.active{
	width : 25%;
	text-align: center;
height : 60 px;
background-color : #2f6690;
margin : 0px; 
border : 0px none #000000; 
border-radius : 15px 15px 15px 15px;}

.nonactive{
 
	width : 25%;
	text-align: center;
  height : 60 px;
  background-color : #94c1d9;
  margin : 0px; 
  border : 0px none #000000; 
  border-radius : 15px 15px 15px 15px;}

.nouveauPropo{
	
	text-align: center;
  height : 25 px;
  background-color : #94c1d9; 
  border : 0px none #000000; 
  border-radius : 15px 15px 15px 15px;
}
.grp{
	height : 130px;
	border : 0px none #000000; 
	border-radius : 15px 15px 15px 15px;
	margin : 20px;
}
.grp h2{
	margin : 2px;
}
.grp p{
	margin :5px;
}
.left{
	float:left;
}
#plus{
	width:15px;
	height:15px;
}