* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    position: relative;
  }
  
  
  .hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), 
                url('../images/background.jpg') center/cover no-repeat;
    display: flex;
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:0 20px ;
    background-color: none;
    position: absolute; 
    top: 0;             
    left: 0;
    width: 90%;        
    z-index: 10;  
  }
  
  /* Logo */
  .icon {
    width: auto;
    float: left;
    max-height: 10px;
  }
  
  .logo {
    max-width: 100px; 
    height: auto;
    padding-top: 10px;
  }
  
  .menu {
    margin-left: auto;
  }
  
  ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
  }
  
  ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }
  
  ul li img {
    width: 24px; 
    height: auto; 
    margin-right: 5px;
    transition: transform 0.5s ease;
  }
  
  .navbar .menu ul li img:hover {
    transform: scale(1.2);
    filter: invert(70%);
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover {
    color: #00b4d8;
  }
  
  /* ========== MAIN CONTENT (Hero) ========== */
  
  .content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 100px;
    /* align-items: center; => nếu muốn hai cột cùng hàng chiều ngang */
    color: #fff;
  }
  
  .content-left {
    width: 55%; 
    padding-right: 20px;
  }
  
  .content-left h1 {
    font-family: 'Times New Roman';
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  
  .content-left .content-span {
    color: #00b4d8;
    font-size: 65px;
  }
  
  .content-left .par {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  
  .button {
    z-index: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    appearance: none;
    background-color: #00b4d8;
    border-radius: 999px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .button::before {
    content: "";
    box-shadow: 0px 0px 24px 0px #FFEB3B;
    mix-blend-mode: screen;
    transition: opacity 0.3s;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    border-radius: 999px;
    opacity: 0;
  }
  
  .button::after {
    content: "";
    box-shadow: 0px 0px 23px 0px #FDFCA9 inset, 0px 0px 8px 0px #FFFFFF42;
    transition: opacity 0.3s;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    border-radius: 999px;
    opacity: 0;
  }
  
  .button-wrapper:hover .button::before,
  .button-wrapper:hover .button::after {
    opacity: 1;
  }
  
  .content-right {
    position: relative;
    width: 40%;  
    padding: 40px 60px;
  }
  
  .form-title {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }
  
  .reservation-form {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 8px;
    min-height: 500px;
  }
  
  .reservation-form input {
    width: 90%; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; 
    text-align: center;
  }
  
  .reservation-form h2 {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
  
  .reservation-form label {
    margin-bottom: 5px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .reservation-form button {
    padding: 8px; 
    width: 60%; 
    max-width: 200px;
    border-radius: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px ;
    background-color: #0077b6;
    color: #ccc;
    font-weight: bold;
  }
  
  .reservation-form h4 {
    margin-top: 25px;
    font-size: 17px; 
  }
  
  .reservation-form button:hover {
    background-color: #fff;
    color: #00b4d8;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 15px; 
    width: 90%;
    margin-top: 20px;
    margin-left: 60px;
  }
  
  .form-group label {
    display: block; 
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px; 
    text-align: right;
  }
  
  .form-group input {
    width: 80%; 
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center; 
  }
  
  .signup-link {
    text-decoration: none; 
    font-size: 17px; 
    color: #00b4d8;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline; 
    color: #ccc;
  }
  
  .form-group.row {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    gap: 20px; 
    margin-left: -15px;
}

.form-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.form-item label {
    text-align: left; 
    margin-bottom: 5px;
}

.form-item input {
    width: 90%; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

