header{
background: #2f6690;
}
img{
width : 100px;
height : 100px;
}

#p{
float:right;
}

body{
	background-color:coral;
	background : linear-gradient(#FFFFFF,#bfc1d4);
}
footer{
	display:flex;
	justify-content:center;
	color:#979797;
}